# Data Science with Python - More Topics #2
---

# Working with data with Pandas - Introduction

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.set_option.html

In [1]:
import pandas as pd
# pd.set_option('display.max_rows', 10)
# pd.set_option('display.max_columns', 1000)

In [2]:
dataset = pd.read_csv('db.csv', sep = ';')

In [3]:
dataset

,Name,Engine,Year,Mileage,Zero_km,Accessories,Value
0,Jetta Variant,4.0 Turbo Engine,2003,44410.0,False,"['Alloy wheels', 'Power locks', 'Autopilot', '...",88078.64
1,Passat,Diesel Engine,1991,5712.0,False,"['Multimedia Center', 'Panoramic Roof', 'ABS B...",106161.94
2,Crossfox,V8 diesel engine,1990,37123.0,False,"['Autopilot', 'Stability control', 'Twilight s...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Power locks', '4 X 4', 'Power windows', 'Twi...",124549.07
4,Aston Martin DB4,2.4 Turbo Engine,2006,25757.0,False,"['Alloy wheels', '4 X 4', 'Multimedia center',...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,V8 engine,2014,27505.0,False,"['Stability control', 'Autopilot', 'Automatic ...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Leather seats', 'Digital panel', 'Rain senso...",51667.06
255,GLK class,5.0 V8 Bi-Turbo engine,2002,52637.0,False,"['Alloy wheels', 'Traction control', 'Automati...",68934.03
256,Aston Martin DB5,Diesel Engine,1996,7685.0,False,"['Air conditioning', '4 X 4', 'Automatic trans...",122110.90
257,Macan,V6 diesel engine,1992,50188.0,False,"['Multimedia center', 'Panoramic roof', 'Power...",90381.47

In [4]:
dataset.dtypes

Name            object
Engine          object
Year             int64
Mileage        float64
Zero_km           bool
Accessories     object
Value          float64
dtype: object

In [5]:
# Descriptive Statistics Overview

dataset[['Mileage', 'Value']].describe()

             Mileage          Value
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         258 non-null    object
 1   Engine       258 non-null    object
 2   Year         258 non-null    int64
 3   Mileage      197 non-null    float64
 4   Zero_km      258 non-null    bool
 5   Accessories  258 non-null    object
 6   Value        258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

# Tuples

Tuples are **immutable** sequences that are used to store collections of items, usually **heterogeneous**. They can be built in several ways:
```
- Using a pair of parentheses: ( )
- Using a trailing comma: x,
- Using a pair of parentheses with comma-separated items: ( x, y, z )
- Using: tuple() or tuple(iterator)
```

In [ ]:
()

In [ ]:
1, 2, 3

In [ ]:
name = 'Passat'
value = 153000
(name, value)

In [ ]:
names_cars = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
names_cars

In [ ]:
type(names_cars)

## Tuple selections

In [ ]:
names_cars = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
names_cars

In [ ]:
names_cars[0]

In [ ]:
names_cars[1]

In [ ]:
names_cars[-1]

In [ ]:
names_cars[1:3]

In [ ]:
names_cars = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))
names_cars

In [ ]:
names_cars[-1]

In [ ]:
names_cars[-1][1]

## Iterating on tuples

In [ ]:
names_cars = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
names_cars

In [ ]:
for item in names_cars:
  print(item)

## Tuple unpacking

In [ ]:
names_cars = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
names_cars

In [ ]:
car_1, car_2, car_3, car_4 = names_cars

In [ ]:
car_1

In [ ]:
car_2

In [ ]:
car_3

In [ ]:
car_4

In [ ]:
_, A, _, B = names_cars

In [ ]:
A

In [ ]:
B

In [ ]:
_, C, *_ = names_cars   # ignore the rest after C

In [ ]:
C

## *zip()*

https://docs.python.org/3.6/library/functions.html#zip

In [ ]:
cars = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
cars

In [ ]:
values = [88078.64, 106161.94, 72832.16, 124549.07]
values

In [ ]:
list(zip(cars, values))

In [ ]:
for item in zip(cars, values):
  print(item)

In [ ]:
for car, value in zip(cars, values):
  print(car, value)

In [ ]:
for car, value in zip(cars, values):
  if(value > 100000):
    print(car)

# Dictionaries

Lists are sequential collections, that is, the items in these sequences are ordered and use indices (integers) to access values.

Dictionaries are slightly different collections. They are data structures that represent a type of mapping. Mappings are collections of associations between value pairs where the first element of the pair is known as a key (*key*) and the second as a value (*value*).

```
dictionary = {key_1: value_1, key_2: value_2, ..., key_n: value_n}
```

https://docs.python.org/3.6/library/stdtypes.html#typesmapping

In [ ]:
cars = ['Jetta Variant', 'Passat', 'Crossfox']
cars

In [ ]:
values = [88078.64, 106161.94, 72832.16]
values

In [ ]:
cars.index('Passat')

In [ ]:
values[cars.index('Passat')]

In [ ]:
data = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
data

In [ ]:
type(data)

## Creating dictionaries with *zip()*

In [ ]:
list(zip(cars, values))

In [ ]:
data = dict(zip(cars, values))
data

## Operations with dictionaries

In [ ]:
data = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
data

### *dict[ key ]*

Returns the value corresponding to the *key* in the dictionary.

In [ ]:
data['Passat']

### *key in dict*

Returns **True** if the *key* is found in the dictionary.

In [ ]:
'Passat' in data

In [ ]:
'Fusca' in data

In [ ]:
'Fusca' not in data

### *len(dict)*

Returns the number of dictionary items.

In [ ]:
len(data)

### *dict[ key ] = value*

Adds an item to the dictionary.

In [ ]:
data['DS5'] = 124549.07

In [ ]:
data

### *del dict[ key ]*

Removes the *key* item from the dictionary.

In [ ]:
data

In [ ]:
del data['Passat']
data

## Dictionary methods

https://docs.python.org/3.6/tutorial/datastructures.html#dictionaries

https://docs.python.org/3.6/library/stdtypes.html#typesmapping

### *dict.update()*

Update the dictionary.

In [ ]:
data

In [ ]:
data.update({'Passat': 106161.94})
data

In [ ]:
data.update({'Passat': 106161.95, 'Fusca': 150000})
data

### *dict.copy()*

Creates a copy of the dictionary.

In [ ]:
dataCopy = data.copy()

In [ ]:
dataCopy

In [ ]:
del dataCopy['Fusca']
dataCopy

In [ ]:
data

### *dict.pop(key[, default ])*

If the key is found in the dictionary, the item is removed and its value returned. Otherwise, the value specified as *default* is returned. If the *default* value is not provided and the key is not found in the dictionary an error will be generated.

In [ ]:
dataCopy

In [ ]:
dataCopy.pop('Passat')

In [ ]:
dataCopy

In [ ]:
# dataCopy.pop('Passat')

In [ ]:
dataCopy.pop('Passat', 'Key not found')

In [ ]:
dataCopy.pop('DS5', 'Key not found')

In [ ]:
dataCopy

### *dict.clear()*

Removes all items from the dictionary.

In [ ]:
dataCopy.clear()

In [ ]:
dataCopy

## Iterating through dictionaries

In [ ]:
data = {'Crossfox': 72832.16, 'DS5': 124549.07, 'Fusca': 150000, 'Jetta Variant': 88078.64, 'Passat': 106161.95}
data

### *dict.keys()*

Returns a list containing the *keys* of the dictionary.

In [ ]:
data.keys()

dict_keys(['Jetta Variant', 'Passat', 'Crossfox'])

In [ ]:
for key in data.keys():
  print(data[key])

88078.64
106161.94
72832.16

### *dict.values()*

Returns a list of all *values* in the dictionary.

In [ ]:
data.values()

dict_values([88078.64, 106161.94, 72832.16])

### *dict.items()*

Returns a list containing one tuple for each *key-value* pair in the dictionary.

In [ ]:
data.items()

In [ ]:
for item in data.items():
  print(item)

In [ ]:
for key, value in data.items():
  print(key, value)

In [ ]:
for key, value in data.items():
  if(value > 100000):
    print(key)

# Built-in functions

The Python language has several built-in functions that are always accessible. 

Some we have already used in our training: *type()*, *print()*, *zip()*, *len()*, set() etc.

https://docs.python.org/3.6/library/functions.html

In [ ]:
data = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
data

In [ ]:
values = []
for value in data.values():
  values.append(value)
values

In [ ]:
total = 0
for value in data.values():
  total += value
total

In [ ]:
list(data.values())

In [ ]:
sum(data.values())

In [ ]:
help(print)

# Functions without and with parameters

### Functions without parameters

#### Standard format

```
def <name>():
    <instructions>
```

In [ ]:
def avg():
  value = (1 + 2 + 3) / 3
  print(value)

In [ ]:
avg()

### Functions with parameters

#### Standard format

```
def <name>(<param_1>, <param_2>, ..., <param_n>):
    <instructions>
```

In [ ]:
def avg(number_1, number_2, number_3):
  value = (number_1 + number_2 + number_3) / 3
  print(value)

In [ ]:
avg(1, 2, 3)

In [ ]:
avg(23, 45, 67)

In [ ]:
def avg(listObj):
  value = sum(listObj) / len(listObj)
  print(value)

In [ ]:
result = avg([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
result

In [ ]:
type(result)

# Functions that return values

### Functions that return a value

#### Standard format

```
def <name>(<param_1>, <param_2>, ..., <param_n>):
     <instructions>
     return <result>
```

In [ ]:
def avg(listObj):
  value = sum(listObj) / len(listObj)
  return value

In [ ]:
avg([1, 2, 3, 4, 5, 6, 7, 8])

In [ ]:
result = avg([1, 2, 3, 4, 5, 6, 7, 8])

In [ ]:
result

### Functions that return more than one value

#### Standard format

```
def <name>(<param_1>, <param_2>, ..., <param_n>):
     <instructions>
     return (<result_1>, <result_2>, ..., <result_n>)
```

In [ ]:
def avg(listObj):
  value = sum(listObj) / len(listObj)
  return (value, len(listObj))

In [ ]:
avg([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
result, n = avg([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
result

In [ ]:
n